<configuration scan="true" scanPeriod="3 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>
                %d{ISO8601} %highlight(%-5level) - %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="AZURE" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>${APPLICATION_INSIGHTS_KEY}</instrumentationKey>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AZURE"/>
    </root>

</configuration>
